certifi==2018.4.16
chardet==3.0.4
config==0.3.9
confusable-homoglyphs==3.1.1
defusedxml==0.5.0
dj-database-url==0.5.0
Django==1.11
django-allauth==0.36.0
django-bootstrap-form==3.4
django-bootstrap3==10.0.1
django-bootstrap4==0.0.6
django-columns==0.1.0
django-contrib-comments==1.8.0
django-friendship==1.8.0
django-heroku==0.3.1
django-registration==2.4.1
django-threadedcomments==1.2
django-tinymce==2.7.0
gunicorn==19.9.0
idna==2.7
oauthlib==2.1.0
Pillow==5.2.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
python-decouple==3.1
python3-openid==3.1.0
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
urllib3==1.23
whitenoise==3.3.1
